<style>
  {% include './index.css' %}
</style>

<div class="article__code">
  <header>
    <img src="logo.svg" alt="Лого">
    <nav>
      <a href>Мои работы</a>
      <a href>Контакты</a>
    </nav>
  </header>
  <main>
    <h1>Портфолио Ольги Данилюк</h1>
    <p>Добро пожаловать!</p>
    <p>Рада приветствовать вас на своем сайте.</p>
  </main>
  <footer>
    © Ольга Данилюк
  </footer>
</div>
